@model IEnumerable<FinancialManagement.Domain.Entities.ChartOfAccount>
@{
    ViewData["Title"] = "Chart of Accounts";
}

<h1>Chart of Accounts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Account</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().AccountCode)</th>
            <th>@Html.DisplayNameFor(model => model.First().AccountName)</th>
            <th>@Html.DisplayNameFor(model => model.First().AccountType)</th>
            <th>@Html.DisplayNameFor(model => model.First().IsActive)</th>
            <th>@Html.DisplayNameFor(model => model.First().CreatedDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>